.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    width: 300px;
    /* height: 250px; */
    border: 1px solid white;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background-color: gray;
    box-shadow: 0px 0px 2px 1px gray;
    padding: 10px 10px;
}

.container div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.container input {
    height: 25px;
    width: 70%;
}

.btn {
    text-align: center;
    margin: auto;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px 1px gainsboro;
    background-color: green;
    color: white;
    font-size: 25px;
}